/*Comentário*/ /* */
/* reset do css para o nevegador*/
*{ 
   margin: 0;
   padding: 0;
}

body{
    height: 100%; /*altura*/
    width: 100%; /*largura*/
    display: flex;
    justify-content: center;
    background-repeat: no-repeat; /* no repeat */
    background-color: #6d7891;
    background: linear-gradient(black,#061a46, #0c2e75, #7851a9, rgb(25, 11, 77), black);
 
}
/* avatar */
.imagem{
    display: flex;
    justify-content: center;
}
.imagem img{
    width: 150px;
    border-radius: 200px;
    margin-top: 50px;
}

.name{
    margin-top: 10px;
    justify-content:center;
    display: flex;
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
/* topico redes socias */
.redes-sociais{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex; /* organizar itens na mesma linha */
    justify-content: center;
    align-items: center; /* alinhamento de itens */   
}

.icon,.email{ 
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out; /* voltar na explicação */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1 alpha);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;  
}

.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

.icon span a{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color: #0c2e75;
    line-height: 35px;
    font-size: 17px;
}

.name-icon{
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
    float: right;
    color: antiquewhite;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}

.icon:hover{
    width: 130px;
    background-color:antiquewhite;
    border-radius: 20px;
}

.icon:nth-child(1):hover i{
    background: #b43899;
}
.icon:nth-child(2):hover i{
    background: #75a3c9;
}
.icon:nth-child(3):hover i{
    background: #d15959;
}
.icon:nth-child(4):hover i{
    background: #409e5c;
}

.email:hover i{
    background: black;
}
/*Fim css redes sociais*/

/*Css texto*/
.texto{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: justify;
    width: 500px;
    height: 150px;
    padding: 90px 100px;
    border-radius:20px;
    color: white;
    background-color: #0c2e75;
    overflow: hidden; /*mantem organizado dentro da caixa*/
    box-shadow: 0px 5px 5px #061a46; /*RGB-A = Alpha para transparencia */
    cursor: pointer; /*Opcional*/
}

.titulo{
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

.linguagem{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin: 5px;
    border-radius: 200px;
    box-shadow: 2px 2px 2px rgb(50, 50, 50);
}

.projetos{
    margin: auto;
    margin-top: 40px;
    flex-direction: column;
}

.projetos a{
    text-decoration: none; /*mascara o link, uma forma de decorar o texto como por exemplo uma linha cortando o texto*/
    color: white;
}

.item{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
    border: 3px solid #0c2e75;
    border-radius: 50px;
    width: 750px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.5);
    background: #0c2e75;
    cursor: pointer;
}

.item:hover{
    transition: 0.5s;
    background:rgb(1, 6, 48);
}

.video{
    padding: 10px;
    margin: auto;
    display: none;
}

.video.active{
    display: block;
}

.rodape{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 750px) {
    .imagem img{
        width: 150px;
        border-radius: 200px;
        margin-top: 30px;
    }
    .texto{
        width: 290px;
        height: 270px;
    }
    .item{
        width: 350px;
    }
    .linguagem img{
        width: 165px;
    }
    .video{
        width: 330px;
    }
}
@media (max-width: 500px) {
    .imagem img{
        width: 130px;
        border-radius: 200px;
        margin-top: 30px;
    }
    .name{
        font-size: 26px;
    }
    h1{
        margin-top: 35px;
        font-size: 24px;
    }
    .texto{
        padding: 1.4rem 1.1rem;
        width: 244px;
        height: 270px;
        margin-top: 30px;
    }
    .texto p{
        font-size: 14px;
    }
    .texto p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video{
        width: 270px;
        height: 160px;
    }
    .item{
        height: 40px;
        width: 265px;
    }
    .linguagem img{
        margin-top: 15px;
        width: 120px;
    }
    .icon, .email{
        height: 25px;
        width: 25px;
        border-radius: 30px;
    }
    .icon i, .email i{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 15px;
        border-radius: 30px;
    }
    .icon:hover {
        width: 125px;
    }
    .rodape p {
        font-size: 25px;
        margin-top: 20px;
        padding: 50px ;
    }
    .icon:hover{
        width: 25px;
    }
    .icon span{
        margin-right: 43px;
        font-weight: 100;
        line-height: 24px;
        font-size: 15px;
    }
}


