/*Comentário*/ /* */
/* reset do css para o nevegador*/
*{ 
   margin: 0;
   padding: 0;
}

body{
    height: 100%; /*altura*/
    width: 100%; /*largura*/
    display: flex;
    justify-content: center;
    background-repeat: no-repeat; /* no repeat */
    background-color: #6d7891;
    background: linear-gradient(#061a46, #0c2e75, #061a46);
 
}
/* avatar */
.imagem{
    display: flex;
    justify-content: center;

}
.imagem img{
    width: 150px;
    border-radius: 200px;
    margin-top: 100px;
}

.name{
    margin-top: 10px;
    justify-content:center;
    display: flex;
    font-size: 32px;
    font-weight: 600;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
/* topico redes socias */
.redes-sociais{
    margin-top: 10px;
    display: flex; /* organizar itens namesma linha */
    justify-content: center;
    align-items: center; /* alinhamento de itens */
   
}

.icon,.email{ 
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out; /* voltar na explicação */
    box-shadow: o 5px 5px rgba(0, 0, 0, .1 alpha);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
    
}

.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;

}

.icon span a{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color: #0c2e75;
    line-height: 35px;
    font-size: 17px;

}

.name-icon{
    font-family: 'Times New Roman', Times, serif;
    margin-right: 40px;
    float: right;
    color: antiquewhite;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;

}

.icon:hover{
    width: 130px;
    background-color:antiquewhite;
    border-radius: 20px;

}

.icon:nth-child(1):hover i{
    background: #b43899;
}
.icon:nth-child(2):hover i{
    background: #75a3c9;
}
.icon:nth-child(3):hover i{
    background: #d15959;
}
.icon:nth-child(4):hover i{
    background: #409e5c;
}

.email:hover i{
    
}

.texto{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 500px;
    margin-right: 500px;  
}

.langs{
    display: flex;
    justify-content: center;
}
.langs img{
    width: 150px;
    border-radius: 100px;
    margin-top: 100px;
}
